/* CSS Resets */
* {
    box-sizing: border-box;
}

body {
    background-color: #8a92a1;
    background-image: url("images/on.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    color: #141619;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    /* transition: all 1s; */
}

body.switch {
    background-color: #181c3d;
    background-image: url(images/off.svg);
    overflow: hidden;
    background-position: left -13px bottom 0px;
    color: #fdfaf1;
    font-family: "Baumans", system-ui;
    
}

header {
    width: 90%;
    margin: auto;
    position: relative;
    font-size: 80%;
}

/* h1 {
    font-family: "neonderthaw", sans-serif;
} */

button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 30px;
}

#banner {
    background-color: #fff5d5;
    width: 90%;
    height: 125px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141619;
    transition: all 1s;
    font-family: "Limelight", sans-serif;
    font-size: 115%;
    border-radius: 80px;
} 

#banner.switch {
    background-color: #141619;
    border-style: dotted;
    border-width: 10px;
    border-radius: 30px;
    color: #fff5d5;
}

.secret {
    color: #fff5d5;
}
/* WHEN LIGHTS TURN OFF MAKE IT SAY SMTHIUNG LIKE "HOME IS RIGHT HERE" */

main {
    height: 500px;
    width: 95%;
    margin: auto;
    /* background-color: aliceblue; */
    overflow: scroll;
}

section {
    width: 75%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(187, 230, 241, 0.588);
    border-style: solid;
    border-width: 5px;
    border-color: #141619;
    border-radius: 50px;
    transition: all 1s;
}

section.switch {
    background-color: #141619ae;
    border-radius: 10px;
    border-style: dotted;
    border-width: 5px;
    border-color: #fff5d5;
}

section.switch a {
    color: #fff5d5;
}

a {
    text-decoration: none;
    color: #141619;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

section h3 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    margin-top: 5px;
    padding-left: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
    transition: transform .5s;
}

li:hover {
    transform: scale(1.2);
}

@media only screen and (min-width: 500px) {
    body {
        background-position: right 20% bottom -50%;
    }
    
    body.switch {
        background-position: left 615px bottom -133px;
    }

    main {
        width: 65%;
        display: flex;
        margin-left: 60px;
        height: 325px;
        overflow: visible;
    }

    section {
        margin-right: 15px;
    }
    
    #banner {
        font-size: 200%;
    }
}