body {
    background-color: black;
}

#bg {
    height: 750px;
    width: 1200px;
    background-image: url(images/Bg.svg);
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

#trash {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#container {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}
/* ---------------------------------------------------------------------------------- */

.censor {
    filter: blur(10px);
}

#overlay, #end {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}

Main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div {
    background-color: aliceblue;
    width: 600px;
    height: 160px;
}

#overlay p, #end p {
    font-family: "Courier Prime", monospace;
    font-size: 20px;
    margin: 0px;
    padding: 20px;
}

#top, #bottom, #topend, #bottomend {transform: skew(-15deg);}
#middle, #middleend {transform: skew(15deg);}

#top, #topend {box-shadow: 4px -24px 38.7px 0 rgba(0, 0, 0, 0.288) inset;}
#bottom, #bottomend {box-shadow: 0 17px 104.9px 0 rgba(0, 0, 0, 0.25) inset;}

#letter, #letterend {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
}

strong {
    color: red;
}

/* ---------------------------------------------------------------------------------- */

#inventory {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.744);
    height: 750px;
    width: 1200px;
    z-index: 4;
}

#inventory #table {
    width: 906px;
    height: 596px;
    background-color: #D9D9D9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#inventory #one, #inventory #two, #inventory #three, #inventory #four, #inventory #five, #inventory #six, #inventory #seven, #inventory #eight, #inventory #nine {
    width: 170px;
    height: 170px;
    background-color: #A6A6A6;
    position: absolute;
}
#inventory #one, #inventory #two, #inventory #three {top: 112px; background-color: black;}
#inventory #four, #inventory #five, #inventory #six {top: 300px; background-color: red;}
#inventory #seven, #inventory #eight, #inventory #nine {top: 490px; background-color: black;}

#inventory #one, #inventory #four, #inventory #seven {left: 170px;}
#inventory #two, #inventory #five, #inventory #eight {left: 360px;}
#inventory #three, #inventory #six, #inventory #nine {left: 550px;}

#dropevidence, #dropsuspect {
    font-family: "Courier Prime", monospace;
    width: 136px;
    height: 170px;
    position: absolute;
    top: 95px;
    align-content: center;
    text-align: center;
}

#dropevidence {background-color: black; color: red; right: 320px;}
#dropsuspect {background-color: red; color: black;right: 175px;}

#exit {
    position: absolute;
    color: red;
    font-family: "Courier Prime", monospace;
    font-size: 30px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0);
}

#solve {
    position: absolute;
    color: red;
    font-family: "Courier Prime", monospace;
    font-size: 30px;
    bottom: 60px;
    right: 250px;
}

#info {
    position: absolute;
    color: black;
    font-family: "Courier Prime", monospace;
    width: 250px;
    top: 290px;
    right: 180px;
}

#inventory #evidence1 {
    position: absolute;
    top: 100px;
    left: 170px;
    scale: 80%;
}

#inventory #evidence2 {
    position: absolute;
    top: 150px;
    left: 400px;
}

#inventory #evidence3 {
    scale: 100%;
    position: absolute;
    top: 320px;
    left: 200px;
}

#inventory #evidence4 {
    scale: 75%;
    position: absolute;
    top: 120px;
    left: 530px;
}

#inventory #evidence5 {
    scale: 150%;
    position: absolute;
    top: 550px;
    left: 225px;
}

#inventory #evidence6 {
    scale: 50%;
    position: absolute;
    top: 415px;
    left: 340px;
}

#inventory #evidence7 {
    scale: 130%;
    position: absolute;
    top: 550px;
    left: 600px;
}

#inventory #evidence8 {
    position: absolute;
    top: 300px;
    left: 380px;
}

#inventory #evidence9 {
    position: absolute;
    top: 320px;
    left: 560px;
}

#continue, #restart, #back {
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: red;
    font-family: "Courier Prime", monospace;
    font-size: 30px;
    left: 30px;
    bottom: -50px;
}

#continue:hover, #restart:hover, #back:hover {
    transform: scale(110%);
}

.done {visibility: hidden; height: 0px;} 
.show {visibility: visible;}

#menu {
    position: absolute;
    background-color: rgb(38, 40, 42);
    box-shadow: -3px 6px 11.8px 4px rgba(0, 0, 0, 0.49);
    width: 300px;
    height: 60px;
    border-radius: 10px;
    top: 10px;
    right: 10px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.fa-solid {
    color: red;
    font-size: 40px;
    padding-left: 15px;
    padding-right: 15px;
} 

.fa-solid:hover {
    transform: scale(110%);
}

/* .fa-eye-slash {
    color: rgb(83, 0, 0);
} */
/* --------------------------------------------------------------------------- */
#cattalk {
    position: absolute;
    top: 150px;
    right: 30px;
}

#guiltytalk {
    position: absolute;
    top: 270px;
    right: 30px;
}

#mousetalk {
    position: absolute;
    top: 390px;
    right: 30px;
}


#cattext, #guiltytext, #mousetext {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.904);
    height: 750px;
    width: 1200px;
    z-index: 2;
}

#cattext.animate, #guiltytext.animate, #mousetext.animate {
    animation-name: bgf;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes bgf {
    from {background-color: rgba(0, 0, 0, 0);}

    to {background-color: rgba(0, 0, 0, 0.904);}
}

#box, #gbox, #mbox {
    position: absolute;
    width: 80%;
    height: 150px;
    background-color: rgb(255, 252, 249);
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0);
    z-index: 3;
}

button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: "Courier Prime", monospace;
    font-size: 30px;
    bottom: 10px;
    right: 10px;
}

#back {left: 0; width: 30px;}

#box p, #gbox p, #mbox p {
    font-family: "Courier Prime", monospace;
    font-size: 20px;
    margin: 10px;
    width: 800px;
    z-index: -1;
}

#fox, #gfox, #mfox {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    
}

#fox.animate, #gfox.animate, #mfox.animate {
    animation-name: schloop;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes schloop {
    from {
        left: -600px;
        opacity: 0%;
    }

    to {
        left: 0px;
        opacity: 100%;
    }
}

#cat, #guilty, #mouse {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}

#cat.animate, #guilty.animate, #mouse.animate {
    animation-name: catmove;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes catmove {
    from {
        right: -600px;
        opacity: 0%;
    }

    to {
        right: 0px;
        opacity: 100%;
    }
}

#deadbun {
    position: absolute;
    left: 170px;
    bottom: 165px;
}

#blood {
    position: absolute;
    left: 120px;
    bottom: 147px;
}

#hammer {
    position: absolute;
    bottom: 170px;
    left: 350px;
}

#wallet {
    position: absolute;
    bottom: 80px;
    left: 150px;
}

#foot {
    position: absolute;
    bottom: 10px;
    left: 340px;
}

#scissors {
    position: absolute;
    bottom: 215px;
    right: 390px;
}

#deadbun.animate {animation: fade-in 1.5s ease-out;animation-name: schwoop;}
#blood.animate {animation: fade-in 1.5s ease-out;animation-name: blood;}
#hammer.animate {animation: fade-in 1.5s ease-out;animation-name: hammer;}
#wallet.animate {animation: fade-in 1.5s ease-out;animation-name: wallet;}
#foot.animate {animation: fade-in 1.5s ease-out;animation-name: foot;}
#scissors.animate {animation: fade-in 1.5s ease-out;animation-name: scissors;}

#deadbun:hover, #cattalk:hover, #guiltytalk:hover, #mousetalk:hover, #blood:hover, #hammer:hover, #wallet:hover, #foot:hover, #scissors:hover {scale: 120%;}

@keyframes schwoop {
    from {
        left: 170px;
        bottom: 165px;
    }

    to {
        left: 850px;
        bottom: 600px;
        scale: 50%;
    }
}

@keyframes blood {
    from {
        left: 120px;
        bottom: 147px;
    }

    to {
        left: 850px;
        bottom: 600px;
        scale: 50%;
    }
}

@keyframes hammer {
    from {
        bottom: 170px;
        left: 350px;
    }

    to {
        left: 950px;
        bottom: 680px;
    }
}

@keyframes foot {
    from {
        bottom: 10px;
        left: 340px;
    }

    to {
        left: 900px;
        bottom: 650px;
        scale: 50%;
    }
}

@keyframes wallet {
    from {
        bottom: 80px;
        left: 150px;
    }

    to {
        left: 950px;
        bottom: 680px;
    }
}

@keyframes scissors {
    from {
        bottom: 215px;
        right: 390px;
    }

    to {
        right: 180px;
        bottom: 680px;
    }
}






